<head>
    <title>큐오더 - 고객센터</title>
</head>

{% extends 'base.html' %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('https://ifh.cc/g/jN6Nct.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>고객센터</h1>
                    <span class="subheading">궁금하신 사항을 확인할 수 있습니다</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview" style="text-align: center">
                <h4 class="post-subtitle">궁금하신 사항에 대한 답변을 이메일로 보내드립니다.</h4>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- 작성 양식 -->
            <form class="row g-3" id="contact-form" method="post">
                {% csrf_token %}
                <!-- 오류표시 Start -->
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field in form %}
                        {% if field.errors %}
                        <div>
                            <strong>{{ field.label }}</strong>
                            {{ field.errors }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                <!-- 오류표시 End -->
                <div class="row-md-4">
                    <label for="name" class="form-label">이름</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="이름" required>
                </div>
                <div class="row-md-4">
                    <label for="tel_num" class="form-label">연락처</label>
                    <input type="tel" class="form-control" name="tel_num" id="tel_num" placeholder="010-XXXX-XXXX" required>
                </div>
                <div class="row-md-6">
                    <label for="mail" class="form-label">이메일</label>
                    <input type="email" class="form-control" name="mail" id="mail" required>
                </div>
                <div class="row-md-6">
                    <label for="content" class="form-label">문의내용</label>
                    <textarea class="form-control" name="content" id="content" rows="4" cols="50" required></textarea>
                </div>
                <div class="row-12">
                    <button class="btn btn-primary" type="submit">질문 작성</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
document.getElementById('contact-form').addEventListener('submit', function(event) {
    var name = document.getElementById('name').value;
    var email = document.getElementById('mail').value;
    var context = document.getElementById('content').value;

    var message = name + "님의 문의가 정상적으로 처리 되었습니다.\n"
                + "빠른 시일 내로 [" + email + "]으로 답변을 보내드리겠습니다.\n"
                + "문의내용: " + context;

    alert(message);
    window.location.reload();
});
</script>

{% endblock %}