<head>
    <title>큐오더 - 서비스</title>
</head>
{% extends 'base.html' %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('https://ifh.cc/g/RT8CRw.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>서비스</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview" style="text-align: center">
                <h2 class="post-title"><strong>테이블 주문 및 결제</strong></h2>
                <h4 class="post-subtitle">다양하고 실용적인 큐 오더 기능들</h4>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <p>앉은 테이블에 부착된 QR코드와 NFC 인식으로 손님이 직접 주문 및 결제를 하실 수 있습니다.</p>
                <div style="text-align: center">
                    <img src="https://ifh.cc/g/dGmTyf.png" style="margin-bottom: 50px">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}